.estiloTitulo {
   color: rgb(10, 192, 224);



}


ul  {
     display: flex;
     flex-direction: row;


    }

li { 
    list-style: none;
    margin:70px;
margin-right: auto;


   }

a { 
    text-decoration: none;


}


.logo { 
width: 120px;
height: auto;
}


h1 { color: rgb(37, 170, 152);


}
.encabezado {
    display: flex;
flex-direction: row;
}

.subtitulo{
display: flex;
flex-direction: column;

}

.logoredes {
    width: 50px;
    height: auto;

}
.juegos  {
    width: 200px;
    height: auto;
    margin: 50px;



}

.juegos-1{
    display: flex;
flex-direction: row;
align-items: center;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

a {
    font-family: cursive;
}
 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 body {
background-color: #91ffde;

 }






